.dashboard-wrapper {
	.title {
		text-shadow: 1px 1px 1px rgba($black, 0.4);
	}

	.dashboard-bg {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		height: 100vh;
	}

	.header-wrapper {
		box-shadow: 0 3px 6px 0 #555;
		padding: 10px;
		width: 1005;
		background-color: $white;
		.choose-city-label {
			margin: 10px auto;
		}
		.search-box {
			border: 1px solid black;
			box-shadow: 0px 1px 3px 0px #555;

			input {
				padding: 10px;
			}

			.submit-btn {
				padding: 12px;
				box-shadow: 0px 1px 3px 0px #555;
				transition: 1s;
			}
		}
	}

	.chart-wrapper {
		background-color: #ffffffc7;
		box-shadow: 0 3px 6px 0 #555;
		height: 400px;
		margin: 50px auto;
		max-width: 1100px;
	}

	.weather-details-wrapper {
		max-width: 1100px;
		margin: 0 auto;
		.weather-info {
			box-shadow: 0 3px 6px 0 #555;
			padding: 20px 10px;
			width: calc(50% - 40px);
			height: 220px;
			margin: 50px auto 0;
			background-color: #ffffffc7;
			.weatherCondition {
				width: calc(100% - 50px);
				margin: 0 auto;
				.info-title {
					font-weight: $font-medium;
					font-size: $font-size-lg;
					line-height: 20px;
				}

				.info-label {
					color: #53627c;
				}

				.small-img {
					width: 20px;
					height: 20px;
					margin-right: 5px;
				}

				.sun-position-img {
					width: 50px;
					height: 50px;
					margin-right: 5px;
				}
				.image-wrapper {
					animation: fadeInOut 3s infinite;
					width: 120px;
					height: 120px;
					img {
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}

	@keyframes fadeInOut {
		0% {
			transform: translateX(50px);
			opacity: 0;
		}
		50% {
			transform: translateX(0px);
			opacity: 1;
		}
		100% {
			transform: translateX(50px);
			opacity: 0;
		}
	}
}
.popup-modal {
	.modal-body {
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;

		.popup-wrapper {
			margin: 0 auto;
			width: 500px;
			height: 100px;
			border-radius: 5px;
		}
	}
}
